<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GariHub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
				<key>dateExpires</key>
				<string>8/11/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BRQBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XCoordinator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9FD82D3078E3A8B85FD7131796048D37E7047CF7</string>
						<key>dateExpires</key>
						<string>8/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LKU99754H5</string>
						<key>name</key>
						<string>Aggrey Obimbo</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LKU99754H5.com.garihub</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LKU99754H5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>LKU99754H5.com.garihub</string>
				</array>
			</dict>
			<key>name</key>
			<string>GariHub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e9c50641-2c9a-4043-b5d2-477daa5b30f5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LKU99754H5</string>
				<key>name</key>
				<string>Aggrey Obimbo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
